@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #d8d8f6;
}

.bg-navbar {
  background-color: #d8d8f6;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color:  #d8d8f6;
  }